<li>
    <p>
        <% if(locals.user && locals.user.id==comment.user.id) {%>
           <small>
              <a href="/comments/destroy/<%= comment.id%>">X</a>
           </small>
           <%}%>

        <%=comment.content%>
        <br>
        <strong><%= comment.user.name%></strong>
     </p>
</li>