header{
    background-color: rgb(251, 198, 92);
    opacity: 0.5;
}
.headerSet {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
a{
    text-decoration:wavy;
    font-weight: bold;
}
ul{
    list-style-type: none;
}